<!DOCTYPE html>
<html lang="ja">
<th:block th:replace="~{layout :: head(Top)}"></th:block>
<body>
<th:block th:replace="~{layout :: header}"></th:block>

<main class="container mt-3">
    <div class="alert alert-info" th:if="${message}" th:text="${message}"></div>
    <h3>ゲーム登録</h3>
    <form th:action="@{/game/register}" method="post" th:object="${gameForm}">
        <div class="md-3">
            <label for="title" class="form-label">タイトル</label>
            <input type="text" class="form-control" id="title" name="title" th:field="*{title}">
            <div th:errors ="*{title}" class="alert alert-danger p-2" >error message</div>
        </div>
        <div class="md-3">
            <label for="maker" class="form-label">メーカー</label>
            <input type="text" class="form-control" id="maker" name="maker" th:field="*{maker}">
            <div th:errors ="*{maker}" class="alert alert-danger p-2">error message</div>
        </div>
        <div class="md-3">
            <label for="releaseDate" class="form-label">出版日</label>
            <input type="date" class="form-control" id="releaseDate" name="releaseDate" th:field="*{releaseDate}">
            <div th:errors ="*{releaseDate}" class="alert alert-danger p-2">error message</div>
        </div>

        <div class="mb-3">
            <h6>ジャンル</h6>
            <div th:errors="*{genreIDList}" class="alert alert-danger p-2">error message</div>
            <div th:each="tag : ${genreList}" class="form-check">
                <input type="checkbox" class="form-check-input" th:id="${'genre'+genre.id}" name="genreIDList" th:value="${genre.id}">
                <label th:for="${'genre'+genre.id}" th:text="${genre.genreName}" class="form-check-label">ジャンル</label>
            </div>
        </div>

        <div class="mb-3">
            <h6>コンソール</h6>
            <div th:errors="*{consoleIDList}" class="alert alert-danger p-2">error message</div>
            <div th:each="tag : ${consoleList}" class="form-check">
                <input type="checkbox" class="form-check-input" th:id="${'console'+consoles.id}" name="consoleIDList" th:value="${consoles.id}">
                <label th:for="${'console'+consoles.id}" th:text="${consoles.consoleName}" class="form-check-label">コンソール</label>
            </div>
        </div>

        <div class="mb-3">
            <h6>モード</h6>
            <div th:errors="*{modeIDList}" class="alert alert-danger p-2">error message</div>
            <div th:each="tag : ${modeList}" class="form-check">
                <input type="checkbox" class="form-check-input" th:id="${'mode'+modes.id}" name="modeIDList" th:value="${modes.id}">
                <label th:for="${'mode'+modes.id}" th:text="${modes.mode}" class="form-check-label">モード</label>
            </div>
        </div>

        <div class="mb-3">
            <h6>シリーズ</h6>
            <div th:errors="*{seriesIDList}" class="alert alert-danger p-2">error message</div>
            <div th:each="tag : ${seriesList}" class="form-check">
                <input type="checkbox" class="form-check-input" th:id="${'series'+series.id}" name="seriesIDList" th:value="${series.id}">
                <label th:for="${'series'+series.id}" th:text="${series.seriesName}" class="form-check-label">シリーズ</label>
            </div>
        </div>

        <div class="md-3">
            <label for="title" class="form-label">値段</label>
            <input type="text" class="form-control" id="price" name="price" th:field="*{price}">
            <div th:errors ="*{price}" class="alert alert-danger p-2" >error message</div>
        </div>

        <div class="md-3">
            <label for="title" class="form-label">データ容量</label>
            <input type="text" class="form-control" id="dataStorage" name="dataStorage" th:field="*{dataStorage}">
            <div th:errors ="*{dataStorage}" class="alert alert-danger p-2" >error message</div>
        </div>

        <div class="mb-3">
            <h6>言語</h6>
            <div th:errors="*{languageIDList}" class="alert alert-danger p-2">error message</div>
            <div th:each="tag : ${languageList}" class="form-check">
                <input type="checkbox" class="form-check-input" th:id="${'language'+language.id}" name="languageIDList" th:value="${language.id}">
                <label th:for="${'language'+language.id}" th:text="${language.language}" class="form-check-label">言語</label>
            </div>
        </div>

        <div class="mb-3">
            <h6>CERO</h6>
            <div th:errors="*{ceroIDList}" class="alert alert-danger p-2">error message</div>
            <div th:each="tag : ${ceroList}" class="form-check">
                <input type="checkbox" class="form-check-input" th:id="${'cero'+cero.id}" name="ceroIDList" th:value="${cero.id}">
                <label th:for="${'cero'+cero.id}" th:text="${cero.cero}" class="form-check-label">CERO</label>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">登録</button>
    </form>
</main>

<th:block th:replace="~{layout :: footer}"></th:block>
<th:block th:replace="~{layout :: script}"></th:block>
</body>
</html>