<!DOCTYPE html>
<html lang="ja">
<th:block th:replace="~{layout :: head(Top)}"></th:block>
<body>
<th:block th:replace="~{layout :: header}"></th:block>

<main class="container mt-3">
    <div class="alert alert-info" th:if="${message}" th:text="${message}">message info</div>
    <h3>ジャンル登録</h3>
    <form th:action="@{/genre/register}" th:object="${genreForm}" method="post">
        <div class="mb-3">
            <label for="genre-name" class="form-label">ジャンル名</label>
            <input type="text" class="form-control" id="genre-name" name="genreName" th:field="*{genreName}">
            <div th:errors="*{genreName}" class="alert alert-danger p-2">error message</div>
        </div>

        <button type="submit" class="btn btn-primary">登録</button>
    </form>
    <h3>ジャンル一覧</h3>
    <div class="mx-auto">
        <table class="table table-strip">
            <colgroup>
                <col style="width: 20%">
                <col style="width: 80%">
            </colgroup>
            <thead>
            <tr>
                <th>ID</th>
                <th>ジャンル名</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="genre : ${genreList}">
                <td><span th:text="${genre.id}">0</span></td>
                <td><span th:text="${genre.genreName}">genre name</span></td>
            </tr>
            </tbody>
        </table>
    </div>
</main>

<th:block th:replace="~{layout :: footer}"></th:block>
<th:block th:replace="~{layout :: script}"></th:block>
</body>
</html>